﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">


    <title>@ViewData["Title"] - Resume</title>
    
</head>
<body>
    
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1>
                    <a href="~/img/2.png"><img src="~/img/2.png" alt="Some text" class="img-fluid"></a>&nbsp;&nbsp;
                    <a asp-controller="Home" asp-action="Index">Khushboo Manglani</a>
                <!-- Uncomment below if you prefer to use an image logo -->
                </h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Resume">Resume</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Portfolio">Portfolio</a></li>
                    <li class="dropdown">
                        <a asp-controller = "Home" asp-action = "Index"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a asp-controller = "Home" asp-action = "Index">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a asp-controller = "Home" asp-action = "Index"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a asp-controller = "Home" asp-action = "Index">Deep Drop Down 1</a></li>
                                    <li><a asp-controller = "Home" asp-action = "Index">Deep Drop Down 2</a></li>
                                    <li><a asp-controller = "Home" asp-action = "Index">Deep Drop Down 3</a></li>
                                    <li><a asp-controller = "Home" asp-action = "Index">Deep Drop Down 4</a></li>
                                    <li><a asp-controller = "Home" asp-action = "Index">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller = "Home" asp-action = "Index">Drop Down 2</a></li>
                            <li><a asp-controller = "Home" asp-action = "Index">Drop Down 3</a></li>
                            <li><a asp-controller = "Home" asp-action = "Index">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->



    <div>
        @RenderBody()
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Lonely</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-lonely/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a asp-controller = "Home" asp-action = "Index" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>
